$header-bg: #f7fafc;

.header-component{
  background-color: $header-bg;
  padding: 0px 20px 0px 10px;
  border-bottom: 1px solid #e9ecef
}

.display-none{
  display: none;
}

.portal-title-container{
  transition-duration: .3s;
  height: 65px;
  padding: 18px 15px;
  display: flex;
  flex-direction: row;
}

.portal-title-container-collapsed{
  transition-duration: .3s;
  padding: 18px 24px;
}

.sidebar-container{
  overflow: auto;
  height: 96%;
  left: 0;
  position: fixed;
  padding-bottom: 20px;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}

.portal-title{
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  overflow: hidden;
  color: #38a4f4;
}

.header-container{
  display: flex;
  flex-direction: row-reverse;
}

.header-username {
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
  color: #249eed;
  cursor: pointer;
}

.header-search-box{
  max-width: 250px;
  border: 0;
  background-color: $header-bg;
  box-shadow: none !important;
  font-size: 16px;
  /*border-bottom: 1px solid #e9ecef; */
}

.header-search-box .ant-input{
  background-color: $header-bg;
}

.header-notifications{
  padding-right: 20px;
  padding-top: 2px;
}

.header-notification-icon{
  font-size: 18px;
  color: #fb6340;
  cursor: pointer;
}

.user-menu-item{
  padding: 8px 20px;
}

.mobile-menu{
  display: none;   
}

.mobile-menu-drawer{
  display: none;
}

@media only screen and (max-width: 450px) {
  .header-component{
    padding: 0px 5px 0px 5px;
  }

  .mobile-menu-drawer{
    display: inline;

    .ant-drawer-header{
      padding: 0px;

      .ant-drawer-header-title, .ant-drawer-title{
        width: 100%;
      }
    }

    .portal-title{
      margin-top: 4px;
    }
  }

  .mobile-menu-close-icon{
    flex-grow: 1;
    text-align: right;
    cursor: pointer;
    margin-top: 6px;
    color: #8898aa;
  }


  .header-search-box{
    display: none;
  }

  .mobile-menu{
    display: inline;

    .mobile-menu-icon {
      font-size: 18px;
      color: #8898aa;
      cursor: pointer;
    }
  }

  .header-username{
    font-size: 12px;
  }
}