.conent-base-container {
  padding: 15px;
  background: #f7fafc;
}

.collapsed-layout{
  transition-duration: .3s;
  margin-left: 80px;
  margin-right: 1px;
}

.expanded-layout{
  transition-duration: .3s;
  margin-left: 250px;
  margin-right: 1px;
}